body{
    background-color: #ba78f8;
    font: normal 15pt arial;
    color:white
}

header{
    text-align: center;
}

section{
    color: black;
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px #2e2d2d8a;
}

div{
    align-items: center;
}

img{
    width: 260px;
    height: 260px;
    border-radius: 100%;
    padding: 4px;
}

footer{
    text-align: center;
    font-style: italic;
}